* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
}

body {
    background-color:#4aedd7;
}

#container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.element {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #fff;
}


#ranking, #moves {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #fff;
    background-color:#3fd97f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.670);
    
}

#ranking h2, #moves h2 {
    margin-bottom: 10px;

}
#moves p{
    font-size: 40px;
}
.gameBoard{
    width: 500px;
    height: 100vh;
    justify-content: center;
    background-color:#ffca64;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.670);
    box-shadow: 0px -5px -10px -1px rgba(0, 0, 0, 0.670);
}
#gameBoard {
    display: grid;
    gap: 15px;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}


.flip {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.card img {
    width: 60px;
}

.cardBack,
.cardFront {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    
}

.cardFront,
.cardBack:hover {
    border: 2px solid;
    box-shadow: 5px 5px 10px 1px black;
}

.cardFront {
    background-color: #092b5a;
    transform: rotateY(180deg);
}

.cardBack {
    background-color:#ed6d4a;
    font-size: 25px;

}

#gameOver {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000088;
    display: none;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gameOver h1 {
    margin-bottom: 10px;
}

#gameOver button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #9ed1b7;
    cursor: pointer;
}